@font-face {
    font-family: stetica;
    src: url(fonts/stetica/AA\ Stetica\ Regular.otf);
}

@font-face {
    font-family: stetica-bold;
    src: url(fonts/stetica/AA\ Stetica\ Bold.otf);
}

@font-face {
    font-family: stetica-italic;
    src: url(fonts/stetica/AA\ Stetica\ Italic.otf);
}

@font-face {
    font-family: stetica-light;
    src: url(fonts/stetica/AA\ Stetica\ Light.otf);
}

.portfolio-item img,
.portfolio-item iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.portfolio-item {
    overflow: hidden;
}

.contact-item h5 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-item p a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.contact-item p a:hover {
    text-decoration: underline;
}

.contact-item img {
    transition: transform 0.3s ease;
}

.contact-item img:hover {
    transform: scale(1.1); /* Hover effect for icons */
}
