.ancestor {
    width: 100vw;
    height: 100vh;
    position: relative;
    vertical-align: middle;
}

.con {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

@media (orientation: landscape) {
    .con {
        width: 90vh;
        height: 90vh;
        column-gap: 2vh;
        row-gap: 2vh;
    }

    .block {
        box-shadow: 1vh 1vh 2vh #d1d4df, -1vh -1vh 2vh #f5f8ff;
        border-radius: 3vh;
    }
}

@media (orientation: portrait) {
    .con {
        width: 90vw;
        height: 90vw;
        column-gap: 2vw;
        row-gap: 2vw;
    }

    .block {
        box-shadow: 1vw 1vw 2vw #d1d4df, -1vw -1vw 2vw #f5f8ff;
        border-radius: 3vw;
    }
}

.block {
    background: #e3e6f2;
}

@font-face {
    font-family: avant;
    src: url(ITC\ Avant\ Garde\ Gothic\ Demi/avantgarde_demi.ttf);
}
