body {
    backdrop-filter: brightness(var(--bri) /*value to change on slider from 10% to 100%*/);
}

.ancestor {
    width: 100vw;
    height: 100vh;
    position: relative;
    vertical-align: middle;
}

.con {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

@media (orientation: landscape) {
    .con {
        width: 90vh;
        height: 90vh;
        column-gap: 2vh;
        row-gap: 2vh;
    }

    .block {
        box-shadow: 1vh 1vh 2vh #d1d4df, -1vh -1vh 2vh #f5f8ff;
        border-radius: 3vh;
    }

    .brightrange {
        border-radius: 3vh;
    }

    .slider {
        margin-top: 6.5vh;
        width: 6vh;
        height: 3vh;
        border-radius: 5vh;
        border: 0px solid transparent;
        box-shadow: inset 0.1vh 0.1vh 1vh #a7acb8, inset -0.1vh -0.1vh 1vh #e3e8fa;
        padding: 0.5vh;
    }

    .slider::before {
        width: 2vh;
        border-radius: 5vh;
        box-shadow: 0.1vh 0.1vh 1vh #c1c4ce, -0.1vh -0.1vh 1vh #ffffff;;
    }


    .checkbox:active ~ .slider::before {
        box-shadow: 0.1vh 0.1vh 1vh #c8c9d0, -0.1vh -0.1vh 1vh #ffffff;
    }

    .checkbox:checked ~ .slider::before {
        transform: translateX(3vh);
    }
}

@media (orientation: portrait) {
    .con {
        width: 90vw;
        height: 90vw;
        column-gap: 2vw;
        row-gap: 2vw;
    }

    .block {
        box-shadow: 1vw 1vw 2vw #d1d4df, -1vw -1vw 2vw #f5f8ff;
        border-radius: 3vw;
    }

    .brightrange {
        border-radius: 3vw;
    }

    .slider {
        margin-top: 6.5vw;
        width: 6vw;
        height: 3vw;
        border-radius: 5vw;
        border: 0px solid transparent;
        box-shadow: inset 0.1vw 0.1vw 1vw #a7acb8, inset -0.1vw -0.1vw 1vw #e3e8fa;
        padding: 0.5vw;
    }

    .slider::before {
        width: 2vw;
        border-radius: 5vw;
        box-shadow: 0.1vw 0.1vw 1vw #c1c4ce, -0.1vw -0.1vw 1vw #ffffff;;
    }



    .checkbox:active ~ .slider::before {
        box-shadow: 0.1vw 0.1vw 1vw #c8c9d0, -0.1vw -0.1vw 1vw #ffffff;
    }

    .checkbox:checked ~ .slider::before {
        transform: translateX(3vw);
    }

}

.block {
    background: #e3e6f200;
}

@font-face {
    font-family: avant;
    src: url(ITC\ Avant\ Garde\ Gothic\ Demi/avantgarde_demi.ttf);
}

.brightrange {  
    appearance: none;
    outline: none;
    background: rgba(62, 151, 78, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.brightrange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 100%;
    background: #3b4b85;
    box-shadow: -410px 0 0 410px #ffffff70;
    cursor: pointer;
    opacity: 100%;
}

.checkbox {
    display: none;
  }
  
.slider {
    /*margin-top: 6.5vh;*/
    rotate: 90deg;
    /*width: 6vh;*/
    /*height: 3vh;*/
    background-color: #c5cad9;
    /*border-radius: 20px;*/
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 0px solid transparent;
    transition: .3s;
    /*box-shadow: inset 0.1vh 0.1vh 1vh #a7acb8, inset -0.1vh -0.1vh 1vh #e3e8fa;*/
    cursor: pointer;
    /*padding: 0.5vh;*/
}

.slider::before {
    content: '';
    display: block;
    /*width: 2vh;*/
    height: 100%;
    background-color: #e3e6f2;
    /*transform: translateX(0vh);*/
    /*border-radius: 20px;*/
    transition: .3s;
    /*box-shadow: 0.1vh 0.1vh 1vh #c1c4ce, -0.1vh -0.1vh 1vh #ffffff;;*/
}

.checkbox:checked ~ .slider::before {
    /*transform: translateX(3vh);
    box-shadow: 0 0 2vh 1vh #d1d4df;*/
}

.checkbox:checked ~ .slider {
    background-color: #ebedf5;
}
/*Color when enabled*/

.checkbox:active ~ .slider::before {
    transform: translate(0);
    /*box-shadow: 0.1vh 0.1vh 1vh #c8c9d0, -0.1vh -0.1vh 1vh #ffffff;*/
}